
{% extends 'base.html'  %}


{% block content %}
{% load static %}

<br><br>


<section class="page-title-4" style="background-image:url('{% static 'assets_dashboard/images/baniere1.jpg' %}') ; color: rgb(255, 255, 255);" >
<div class="container">


    <div class="container">
      <div class="row" >
      
        <h1 class="font-weight-8 text-center" style="color: rgb(255, 255, 255);">Contactez nous  </h1>
          <h5 class="font-weight-5 text-center less2" style="color: rgb(255, 255, 255);" >  NASEBE vous permet de demander facilement en tout lieu et à tout moment votre extrait de naissance .  </h5>
                    
      </div>

      <br> <br>
      <hr>
  
      <div class="col-lg-12 text-left">
        <center>
        <h3 class="uppercase" style="color: rgb(255, 255, 255);" ><strong> NASEBE A VOTRE SERVICE  </strong></h3>
        <br/>
        <h4 style="color: rgb(255, 255, 255);"> Adresse </h4>
        <h6 style="color: rgb(255, 255, 255);"> NASEBE </h6>
        <p> ABIDJAN 2 PLATEAUX 
          Telephone: +225 11 22 33 44 
          
        <br/>
        <p>E-mail: nasebe@gmail.com</p>
        <p>Site Web : www.nasebe.com</p>
      </center>
      </div>
    
  
    </div>


  </div>
  </div>
  </section>
<div class="clearfix"></div>
  <!-- end section -->
    

<section>
      <div class="container-fluid">
        <div class="row">
          
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31778.71737758674!2d-3.9918850000000297!3d5.365048650000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1eb5c363900b3%3A0x11593b19fc4acbf9!2sDeux%20Plateaux%2C%20Abidjan!5e0!3m2!1sfr!2sci!4v1690890210964!5m2!1sfr!2sci" width="1350" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <!--end item-->   
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    
    
    



  


  
 {% endblock %}