{% extends 'basereclamation.html'  %}
{% load static %}



{% block title %}Mot de passe oublié{% endblock %}

{% block content %}

        <div class="wrapper-page">

            <div class="card overflow-hidden account-card mx-3 shadow">
                
                <div class="bg-primary p-4 text-white text-center position-relative">
                    <h4 class="font-20 mb-4">Réinitialiser le mot de passe</h4>
                    <a href="index.html" class="logo logo-admin"> <img src="{% static 'assets_dashboard/images/logo.jpg' %}" style="width: 140%; border-radius:15%" alt=""></a>
                </div>

                <div class="account-card-content"> 

                    <div class="alert alert-success m-t-30 text-center" role="alert">
                        Entrez votre e-mail et les instructions vous seront envoyées!
                    </div>
    
                    <form class="form-horizontal m-t-30" action="index.html">

                        <div class="form-group">
                            {% csrf_token %}
                            {{ form }}
                        </div>

                        <div class="form-group row m-t-20 mb-0">
                            <div class="col-12 text-right">
                                <input type="submit" value=" CHANGER VOTRE MOT DE PASSE   " class="btn btn-primary w-md waves-effect waves-light submit" name="submit" id="submit" />

                            </div>
                        </div>

                    </form>
                </div>
            </div>

            
            <div class="m-t-40 text-center">
                <p>Rappelez-vous ? <a href="pages-login.html" class="font-500 text-primary"> Connectez-vous ici </a> </p>
            </div>

        </div>
        <!-- end wrapper-page -->

{% endblock %}
