{% extends 'base.html'  %}
{% load static %}


{% block title %} Nasebe - Accueil {% endblock %}



  {% block content %}

    <div class="clearfix"></div>
    
    <!-- START REVOLUTION SLIDER 5.0 -->
    <div>
      <div class="slidermaxwidth">
        <div class="rev_slider_wrapper"> 
          <!-- START REVOLUTION SLIDER 5.0 auto mode -->
          <div id="rev_slider" class="rev_slider"  data-version="5.0">
            <ul>
              
              <!-- SLIDE  -->
              <li data-index="rs-1" data-transition="fade" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="" data-description=""> 
                
                <!-- MAIN IMAGE --> 
                <img src="{% static 'assets_dashboard/images/baniere1.png' %}" alt=""  data-bgposition="center center" data-kenburns="off" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina> 
                
                <!-- LAYER NR. 1 -->
                <div class="tp-caption Gym-Display fweight-8 white uppercase tp-resizeme" 
                     id="slide-1-layer-1" 
                     data-x="['center','center','center','center']" data-hoffset="['0','10','10','10']" 
                     data-y="['top','top','top','top']" data-voffset="['250','318','190','110']" 
                                data-fontsize="['85','50','40','27']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
         
                    data-type="text" 
                    data-responsive_offset="on" 
        
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
        
                    style="z-index: 7; white-space: nowrap;text-transform:left;"> Bienvenue sur 
                </div>
                
                <!-- LAYER NR. 2 -->
                <div class="tp-caption Gym-Display fweight-8 white uppercase tp-resizeme" 
                     id="slide-1-layer-2" 
                     data-x="['center','center','center','center']" data-hoffset="['0','10','10','10']" 
                     data-y="['top','top','top','top']" data-voffset="['340','358','228','145']"  
                                data-fontsize="['85','50','40','27']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
         
                    data-type="text" 
                    data-responsive_offset="on" 
        
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1200,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
        
                    style="z-index: 7; white-space: nowrap;text-transform:left;">Nasebe
                </div>
    
                <!-- LAYER NR. 3 -->
                <div class="tp-caption slider-button-2 uppercase"
                    id="slide-1-layer-3"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['top','top','top','top']" data-voffset="['460','440','300','220']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
            data-textAlign="['left','left','left','left']"
                    
                    style="z-index: 6"> <a href="{% url 'services' %}">Savoir Plus... &nbsp; <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                
            </li>
              
            
            <!-- SLIDE  -->
              <li data-index="rs-2" data-transition="slideup" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="" data-description=""> 
                
                <!-- MAIN IMAGE --> 
                <img src="{% static 'assets_dashboard/images/baniere2.png' %}" alt=""  data-bgposition="center center" data-kenburns="off" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina> 
                
                <!-- LAYER NR. 1 -->
                <div class="tp-caption Gym-Display fweight-8 white uppercase tp-resizeme" 
                     id="slide-2-layer-1" 
                     data-x="['center','center','center','center']" data-hoffset="['0','10','10','10']" 
                     data-y="['top','top','top','top']" data-voffset="['220','318','190','110']" 
                                data-fontsize="['85','50','40','27']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
         
                    data-type="text" 
                    data-responsive_offset="on" 
        
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
        
                    style="z-index: 7; white-space: nowrap;text-transform:left;"> LIVRAISON 
                </div>
                
                <!-- LAYER NR. 2 -->
                <div class="tp-caption Gym-Display fweight-8 white uppercase tp-resizeme" 
                     id="slide-2-layer-2" 
                     data-x="['center','center','center','center']" data-hoffset="['0','10','10','10']" 
                     data-y="['top','top','top','top']" data-voffset="['310','358','228','145']"  
                                data-fontsize="['85','50','40','27']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
         
                    data-type="text" 
                    data-responsive_offset="on" 
        
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1200,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
        
                    style="z-index: 7; white-space: nowrap;text-transform:left;">A DOMICILE 
                </div>
    
                <!-- LAYER NR. 3 -->
                <div class="tp-caption slider-button-2 uppercase"
                    id="slide-2-layer-3"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['top','top','top','top']" data-voffset="['430','440','300','220']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
            data-textAlign="['left','left','left','left']"
                    
                    style="z-index: 6"> <a href="{% url 'demande_extrait' %}">DEMANDER EXTRAIT  &nbsp; <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                
            </li>

             
			</ul>
          <!-- END REVOLUTION SLIDER --> 
          </div>
        </div>
      </div>
      <!-- END REVOLUTION SLIDER WRAPPER --> 
    </div>
    <div class="clearfix"></div>
    <!-- END OF SLIDER WRAPPER -->
    

    <div class="sec-padding section-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 margin-bottom">
            <div class="col-xs-12 text-left">
              <h2 class="c6-sec-title font-weight-4 less-mar-1 text-white montserrat">Ce que nous offrons</h2>
              <p class="c6-sub-title raleway text-white opacity-7 left-align"> Nous proposons des services efficaces qui facilitent la demande et la livraison d'extraits dans plusieurs régions de la COTE D'IVOIRE .  </p>
              <br/>
              <p class="text-white opacity-8">Nos services sont à un prix abordable pour le bonheur des populations .</p>
              <br/>
              <a href="{% url 'demande_extrait' %}" class="but-stbutton-8 text-small uppercase">Demander un extrait&nbsp; <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
            <div class="clearfix"></div>
            <!--end title--> 
          </div>
          <!--end item-->
          
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom">
              <div class="icon-plain-msmall icon left white"><span class=" icon-laptop"></span></div>
              <div class="text-box-right less-padding-1">
                <h4 class="text-white font-weight-6">Efficacité</h4>
                <p class="text-white opacity-8">Reduire le temps de demande d'extrait de naissance</p>
              </div>
            </div>
            <!--end item-->
            
            <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom">
              <div class="icon-plain-msmall icon left white"><span class="icon-layers"></span></div>
              <div class="text-box-right less-padding-1">
                <h4 class="text-white font-weight-6">Accessibilité</h4>
                <p class="text-white opacity-8">Prix très abordable pour tous</p>              </div>
            </div>
            <!--end item-->
            
            <div class="clearfix"></div>
            <div class="col-divider-margin-6"></div>
            <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom">
              <div class="icon-plain-msmall icon left white"><span class="icon-lightbulb"></span></div>
              <div class="text-box-right less-padding-1">
                <h4 class="text-white font-weight-6">Domicile</h4>
                <p class="text-white opacity-8">Livraison de vos documents à domicile sans vous déplacer</p>
              </div>
            </div>
            <!--end item-->
            
            <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom">
              <div class="icon-plain-msmall icon left white"><span class="icon-chat"></span></div>
              <div class="text-box-right less-padding-1">
                <h4 class="text-white font-weight-6 ">Patenariats</h4>
                <p class="text-white opacity-8">Nasebe c'est aussi plusieurs partenariats importants de domaines stratégiques différents ( Mairies, Université,...)</p>
              </div>
            </div>
            <!--end item--> 
            
          </div>
          <!--end item--> 
          
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- end section -->





    
<div class=" sec-padding section-paddingprimary">
  <div class="container">
  <div class="row">

         <div class="col-md-12 nopadding">
        <div class="sec-title-container less-padding-3 text-center">
          <h2 class="font-weight-7 less-mar-3">Nos Services</h2>
          <p class="line-height-2 text-gray less2">Nous proposons des services efficaces de livraison d'extraits dans les régions couvertes, vous permettant de les obtenir sans effort.</p>
        </div>
      </div>
      <!--end title-->
      <div class="clearfix margin-bottom-2"></div>
    
      <div class="col-md-4 col-sm-4">
        <div class="feature-box-21-wrap text-center mb-30">
          <div class="feature-box-21-icon">
            <i class="fa fa-leaf"></i>
          </div>
          <h3 class="margin-bottom-1">DEMANDER UN EXTRAIT</h3>
          <p>Faites votre demande d'extrait de naissance<br><br></p>
          <a href="{% url 'demande_extrait' %}" class="but-stbutton-2 text-small uppercase "> Cliquez ici&nbsp; <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="feature-box-21-wrap text-center mb-30">
          <div class="feature-box-21-icon">
            <i class="fa fa-laptop"></i>
          </div>
          <h3 class="margin-bottom-1">VERIFIER UNE DEMANDE</h3>
          <p>Verifier le statut de votre demande. <br><br></p>
          <a href="#" class="but-stbutton-2 text-small uppercase "> Cliquez ici &nbsp; <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="feature-box-21-wrap text-center mb-30">
          <div class="feature-box-21-icon">
            <i class="fa fa-heart"></i>
          </div>
          <h4 class="margin-bottom-1"  > <b> VOS RECLAMATIONS <b/> </h4> 
          <p>Veuillez transmettre vos réclamations <br><br></p>
          <a href="{% url 'reclamation' %}" class="but-stbutton-2 text-small uppercase "> <b> Cliquez ici &nbsp; </b><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          <br><br> <br> 
        </div>
      </div>
                
                <div class="clearfix margin-bottom-3"></div>

    </div>
  </div>
</div>
<!-- end section -->


    

<div class="clearfix"></div>    


    




<div class="parallax vertical-align" data-parallax-bg-image="http://via.placeholder.com/1920x1050" data-parallax-speed="1" data-parallax-direction="down">
<div class="parallax-overlay secondary bg-opacity-5">
<div class="container sec-more-padding-1">
<div class="row">

    <div class="col-md-12 text-center">
        <h1 class="text-white font-weight-8 margin-bottom-3">Révolution numérique !</h1>
        <h4 class="text-white font-weight-5 line-height-5 less3">Explorez un nouvel horizon d'efficacité et de simplicité grâce à notre approche novatrice de l'administration, où le numérique se mêle harmonieusement à chaque processus.</h4>
    </div>

</div>
</div>
</div>
</div>
<div class="clearfix"></div>
<!-- end section -->



<section class="sec-padding">
  <div class="container">
    <div class="row">
    
    <div class="col-md-12 nopadding">
      <div class="sec-title-container less-padding-3 text-center">
        <h2 class="font-weight-7 less-mar-3">Qui sommes-nous ?</h2>
        <p class="line-height-2 text-gray less2">
            Nous sommes bien plus qu'une simple équipe. Nous sommes une équipe dynamique, passionnée et résolument tournée vers l'innovation numérique. 
            Avec notre énergie créative et notre détermination sans faille, nous sommes prêts à relever tous les défis et à vous offrir des expériences numériques exceptionnelles.
            
          </p>
      </div>
    </div>
    <!--end title-->

 
      <div class="clearfix margin-bottom-3"></div>
      <div class="col-md-12" style="position: relative; display: flex; justify-content: space-around">

              <div class="col-md-3 col-sm-6">
                <div class="feature-box-8 text-center margin-bottom-2 ">
                  <div >
                  <img src="{% static 'assets_dashboard/images/motiv.jpg' %}" alt="" style="width: 64%; " > </div>
                  <br/>
                  <h4>Notre Motivation</h4>1
                  <p>Notre objectif est de repousser les limites et de créer des solutions uniques qui répondent aux besoins changeants de nos clients. &nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
              </div>
              <!--end item-->
              
              
              <div class="col-md-3 col-sm-6">
                <div class="feature-box-8 text-center margin-bottom-2 ">
                  <div ><img src="{% static 'assets_dashboard/images/histoire.jpg' %}" alt="" style="width: 54%; " > </div>
                  <br/>
                  <h4> Notre Histoire </h4>
                  <p>Nous nous efforçons constamment de rester à la pointe de la technologie, en explorant de nouvelles idées et en adoptant les dernières tendances.</p>
                </div>
              </div>
              <!--end item-->
              
              <div class="col-md-3 col-sm-6">
               
                  <div class="feature-box-8 text-center margin-bottom-2 ">
                    <div ><img src="{% static 'assets_dashboard/images/bienvenue.jpg' %}" alt="" style="width: 74%; " > </div>
                    <br/>
                  <h4>Bienvenue</h4>
                  <p>Bienvenue dans notre monde numérique inspirant ! <br><br><br><br>
                  </p>
                </div>
              </div>
              <!--end item-->
      </div>
    </div>
  </div>
</section>
<!--end section-->
<div class=" clearfix"></div>






   <section class="parallax" data-parallax-bg-image="http://via.placeholder.com/1920x1050" data-parallax-speed="0.9" data-parallax-direction="down">
    <div class="section-overlay bg-opacity-7">
      <div class="container sec-tpadding-3 sec-bpadding-3">
        <div class="row">
          <div class="col-md-8 col-centered text-center">
            <div class="col-xs-12 text-center">
              <h6 class=" text-primary font-weight-5">Nos Clients</h6>
              <h1 class="  font-weight-7 text-white ">Avis Clients </h1>
            </div>
            <div class="clearfix"></div>
            <div id="owl-demo3" class="owl-carousel">
              <div class="item">
                <p class="text-white"> Quelques  clients ayant utilisés NASEBE   </p>
                <br/>
                <h5 class="text-white less-mar1 font-weight-7 nomargin">Traore  </h5>
                <span class="text-primary">Youssouf</span> 
                <p class="text-white">NASEBE est une application de qualité qui facilite la vie .</p>

              </div>
              <!--end slide item-->
              
              <div class="item">
             
                <br/>
                <h6 class="text-white less-mar1 font-weight-7 nomargin"> Yasmine   </h6>
                <span class="text-primary">Coullibally</span> 
                <p class="text-white">Super application qui reduit le temps de demande d'extrait.Le service est rapide . </p>
              
              </div>
              <!--end slide item--> 
              <div class="item">
              
                <br/>
                <h6 class="text-white less-mar1 font-weight-7 nomargin">Koudio</h6>
                <span class="text-primary">Anselme </span> 
                <p class="text-white">La livraison à domicile de NASEBE est efficace.</p>
              
              </div>
              

              <!--end slide item--> 
              
            

            <div class="item">
              
              <br/>
              <h6 class="text-white less-mar1 font-weight-7 nomargin">SORO</h6>
              <span class="text-primary">MAMADOU </span> 
              <p class="text-white">NASEBE est super et prend en compte toute la population ivoirienne .</p>
              </div>

            <!--end slide item--> 
            
          

          <div class="item">
            
            <h6 class="text-white less-mar1 font-weight-7 nomargin" > YAO JEAN PAUL ET KONE ADAMA </h6>
            <br/> <br/>
            <p class="text-white"> NASEBE moins chère pour le bonheur des ivoiriens.</p>
            </div>
            

          <!--end slide item--> 
          
       

            <!--end carousel --> 
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
 


<div class="clearfix"></div>
<!-- end section -->

{% endblock %}